.articles_container {
  width: 1110px;
  height: 748px;
  grid-row-gap: 30px;
  grid-column-gap: 50px;
}

.box_primary {
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 15px;
  color: white;
  height: 346px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-inline: 32px;
}

.box_primary h2 {
  font-size: 32px;
  font-weight: 800;
}

.box_secondary {
  background: #ffffff;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 15px;
}
