// HEADER

// .wrapper {
//   overflow-x: hidden;
// }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 165px;
  position: relative;
  padding-top: 24px;

  @media only screen and (max-width: 500px) {
    padding-inline: 16px;
  }

  @media only screen and (max-width: 750px) {
    padding-inline: 40px;
  }
}
.btn {
  border-radius: 31.5px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  width: 167px;
  height: 63px;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
}

.btn_header {
  background-color: $color-secondary;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

// .img_logo {
//   width: 114px;
//   height: 45px;
// }

// HERO

.hero_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 750px;

  @media only screen and (max-width: 500px) {
    flex-direction: column;
    align-items: center;
    padding-inline: 16px;
    height: auto;
  }
}

.txt_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 165px;
  margin-bottom: 226px;
  width: 50%;
  padding-right: 6rem;
  position: relative;

  @media only screen and (max-width: 500px) {
    width: 100%;
    margin-inline: 16px;
    margin-top: 38px;
  }

  @media only screen and (max-width: 990px) {
    margin-bottom: 39px;
    margin-left: 39px;
  }
}
.img_box {
  width: 50%;
  height: 100%;
  position: relative;

  @media only screen and (max-width: 500px) {
    background-image: url("../assets/image-hero-mobile.png");
    background-size: contain;
    background-position: center;
    height: 301px;
    width: 327px;
  }
}
h1 {
  font-weight: 800;
  font-size: 56px;
  line-height: 71px;
  color: $color-secondary;
  padding-bottom: 29px;
  margin-top: auto;
}
.p_primary {
  @include primary_p;
  padding-bottom: 40px;
  padding-right: 30px;
}
.btn_hero {
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
}

.img_hero {
  width: auto;
  height: auto;
  min-height: 500px;
  min-width: 500px;
  position: absolute;
  top: -16rem;
  left: -11rem;
  z-index: 10;
  @media only screen and (max-width: 500px) {
    display: none;
  }
}
