// HEADER

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 165px;
  position: relative;
  padding-top: 24px;
}

.btn {
  border-radius: 31.5px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  width: 167px;
  height: 63px;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_header {
  background-color: $color-secondary;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

// HERO

.hero_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  overflow: hidden;
  .txt_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-inline: 165px;
    margin-bottom: 226px;
    width: 50%;
  }
  h1 {
    font-weight: 800;
    font-size: 56px;
    line-height: 71px;
    color: $color-secondary;
    padding-bottom: 29px;
    margin-top: 252px;
  }
  .p_primary {
    @include primary_p;
    padding-bottom: 40px;
    padding-right: 30px;
  }
  .btn_hero {
    background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  }

  .img_box {
    width: 50%;
  }
  img {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: -7.875rem;
    left: 41.9375rem;
    width: auto;
    height: auto;
  }
}

.img_wrapper {
  overflow: hidden;
  max-width: 1440px;
  max-height: 845px;
  position: relative;
}
