$columns: 12;
$column-base-width: 100% / $columns;

// @media only screen and (max-width: 768px) {
//   $columns: 8;
// }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  .row {
    display: flex;
    flex-wrap: wrap;

    [class*="col-"] {
      min-height: 1px;
      width: $column-base-width;
    }

    @for $i from 1 through $columns {
      .col-#{$i} {
        width: $column-base-width * $i;
      }
    }
  }
}
